@page "/chat/{Id}"

<div class="mt-4">

    <div class="row">

        <div class="col-3">

            <UsersList />

        </div>

        <div class="col-9">

            <ChatScreen Id="@Id" />
            
        </div>

    </div>

</div>