@page "/login"
@layout AuthenticationLayout

<center>

    <div class="w-50">

        <AuthorizeView>

            <Authorized>

                <div class="alert alert-danger" role="alert">Your arleady logged in!</div>

            </Authorized>

            <NotAuthorized>

                <h1>Login</h1>

                <Form FormType="FormType.Login" />

            </NotAuthorized>

        </AuthorizeView>

    </div>

</center>
